---
http_interactions:
- request:
    method: get
    uri: https://geocode.maps.co/search?api_key=[GEOCODE_API_KEY]&q=02144
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Fri, 08 Aug 2025 05:36:01 GMT
    body:
      encoding: UTF-8
      string: '[{"place_id":339553174,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright","boundingbox":["42.237167329915","42.557167329915","-71.279027041453","-70.959027041453"],"lat":"42.39716732991453","lon":"-71.119027041453","display_name":"Somerville,
        Middlesex County, Massachusetts, 02144, United States","class":"place","type":"postcode","importance":0.33499999999999996},{"place_id":120257227,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":3033885172,"boundingbox":["51.0362376","51.0363376","13.6958947","13.6959947"],"lat":"51.0362876","lon":"13.6959447","display_name":"02144,
        Frankenbergstraße, Löbtau-Süd, Löbtau, Cotta, Dresden, Saxony, 01159, Germany","class":"man_made","type":"street_cabinet","importance":0.11000999999999997},{"place_id":200452558,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":9377896679,"boundingbox":["37.255443","37.255543","126.9908688","126.9909688"],"lat":"37.255493","lon":"126.9909188","display_name":"자동차매매센터,
        Pyeongdong-ro, Pyeong-dong, Gwonseon-gu, Suwon-si, 16599, South Korea","class":"highway","type":"bus_stop","importance":9.99999999995449e-6}]'
  recorded_at: Fri, 08 Aug 2025 05:36:01 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=[FORECAST_API_KEY]&q=42.39716732991453,%20-71.119027041453
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999978'
      Cdn-Proxyver:
      - '1.33'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/08/2025 05:36:02'
      Cdn-Edgestorageid:
      - '1235'
      Cdn-Requestid:
      - fa50401ff812b9bbd2ba3d185440c2b1
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Somerville","region":"Massachusetts","country":"United
        States of America","lat":42.388,"lon":-71.1,"tz_id":"America/New_York","localtime_epoch":1754631371,"localtime":"2025-08-08
        01:36"},"current":{"last_updated_epoch":1754631000,"last_updated":"2025-08-08
        01:30","temp_c":19.4,"temp_f":66.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":216,"wind_dir":"SW","pressure_mb":1026.0,"pressure_in":30.31,"precip_mm":0.0,"precip_in":0.0,"humidity":66,"cloud":0,"feelslike_c":19.4,"feelslike_f":66.9,"windchill_c":20.4,"windchill_f":68.7,"heatindex_c":21.1,"heatindex_f":70.0,"dewpoint_c":15.0,"dewpoint_f":59.0,"vis_km":16.0,"vis_miles":9.0,"uv":0.0,"gust_mph":8.9,"gust_kph":14.4,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},"forecast":{"forecastday":[{"date":"2025-08-08","date_epoch":1754611200,"day":{"maxtemp_c":30.6,"maxtemp_f":87.1,"mintemp_c":17.8,"mintemp_f":64.0,"avgtemp_c":23.5,"avgtemp_f":74.2,"maxwind_mph":10.1,"maxwind_kph":16.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":56,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":1.9},"astro":{"sunrise":"05:45
        AM","sunset":"07:55 PM","moonrise":"07:55 PM","moonset":"04:33 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":98,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1754625600,"time":"2025-08-08
        00:00","temp_c":21.1,"temp_f":70.0,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":214,"wind_dir":"SW","pressure_mb":1025.0,"pressure_in":30.28,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":68,"cloud":0,"feelslike_c":21.1,"feelslike_f":70.0,"windchill_c":21.1,"windchill_f":70.0,"heatindex_c":22.5,"heatindex_f":72.5,"dewpoint_c":15.1,"dewpoint_f":59.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.5,"gust_kph":13.6,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1754629200,"time":"2025-08-08
        01:00","temp_c":19.4,"temp_f":66.9,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":216,"wind_dir":"SW","pressure_mb":1026.0,"pressure_in":30.31,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":66,"cloud":0,"feelslike_c"[...]
