---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=[FORECAST_API_KEY]&q=41.9,%20-87.79
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999981'
      Cdn-Proxyver:
      - '1.33'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/07/2025 23:40:16'
      Cdn-Edgestorageid:
      - '871'
      Cdn-Requestid:
      - 543339324d45e50ffa62bc9dbfefa36c
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Oak Park","region":"Illinois","country":"United
        States of America","lat":41.885,"lon":-87.784,"tz_id":"America/Chicago","localtime_epoch":1754610043,"localtime":"2025-08-07
        18:40"},"current":{"last_updated_epoch":1754609400,"last_updated":"2025-08-07
        18:30","temp_c":31.7,"temp_f":89.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":7.2,"wind_kph":11.5,"wind_degree":208,"wind_dir":"SSW","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.0,"precip_in":0.0,"humidity":54,"cloud":50,"feelslike_c":34.7,"feelslike_f":94.5,"windchill_c":31.7,"windchill_f":89.1,"heatindex_c":35.0,"heatindex_f":95.1,"dewpoint_c":20.8,"dewpoint_f":69.4,"vis_km":16.0,"vis_miles":9.0,"uv":0.4,"gust_mph":9.1,"gust_kph":14.6,"short_rad":625.22,"diff_rad":118.64,"dni":0.0,"gti":119.46},"forecast":{"forecastday":[{"date":"2025-08-07","date_epoch":1754524800,"day":{"maxtemp_c":35.2,"maxtemp_f":95.4,"mintemp_c":22.3,"mintemp_f":72.1,"avgtemp_c":28.0,"avgtemp_f":82.5,"maxwind_mph":10.3,"maxwind_kph":16.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":9.7,"avgvis_miles":6.0,"avghumidity":69,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":1.5},"astro":{"sunrise":"05:51
        AM","sunset":"08:02 PM","moonrise":"07:30 PM","moonset":"03:35 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":94,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1754542800,"time":"2025-08-07
        00:00","temp_c":23.4,"temp_f":74.2,"is_day":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":204,"wind_dir":"SSW","pressure_mb":1022.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":78,"cloud":99,"feelslike_c":25.4,"feelslike_f":77.7,"windchill_c":23.4,"windchill_f":74.2,"heatindex_c":25.4,"heatindex_f":77.7,"dewpoint_c":19.3,"dewpoint_f":66.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":5.7,"gust_kph":9.2,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1754546400,"time":"2025-08-07
        01:00","temp_c":23.3,"temp_f":73.9,"is_day":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":204,"wind_dir":"SSW","pressure_mb":1022.0,"pressure_in":30.18,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":82,"cloud":98,"[...]
