---
http_interactions:
- request:
    method: get
    uri: https://geocode.maps.co/search?api_key=[GEOCODE_API_KEY]&q=60302
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 07 Aug 2025 22:35:20 GMT
    body:
      encoding: UTF-8
      string: '[{"place_id":339574105,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright","boundingbox":["41.735277198776","42.055277198776","-87.945225440378","-87.625225440378"],"lat":"41.89527719877642","lon":"-87.7852254403782","display_name":"Oak
        Park, Cook County, Illinois, 60302, United States","class":"place","type":"postcode","importance":0.33499999999999996},{"place_id":337055403,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","boundingbox":["58.363210141475","58.683210141475","27.074025153917","27.394025153917"],"lat":"58.52321014147465","lon":"27.23402515391705","display_name":"Kasepää
        alevik, Peipsiääre vald, Tartu maakond, 60302, Estonia","class":"place","type":"postcode","importance":0.33499999999999996},{"place_id":338908856,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","boundingbox":["55.1232136","55.4432136","23.095683866667","23.415683866667"],"lat":"55.2832136","lon":"23.255683866666665","display_name":"Girkalnio
        seniūnija, Raseinių rajono savivaldybė, Kaunas County, 60302, Lithuania","class":"place","type":"postcode","importance":0.33499999999999996},{"place_id":337038804,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","boundingbox":["9.06766305","9.38766305","-83.6152654","-83.2952654"],"lat":"9.22766305","lon":"-83.4552654","display_name":"Volcán,
        Cantón Buenos Aires, Puntarenas Province, 60302, Costa Rica","class":"place","type":"postcode","importance":0.33499999999999996},{"place_id":291880273,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"way","osm_id":332112478,"boundingbox":["47.1875321","47.1899182","-109.2148792","-109.2121221"],"lat":"47.1893893","lon":"-109.2143609","display_name":"60302,
        Fergus County, Montana, United States","class":"highway","type":"service","importance":0.18500999999999992},{"place_id":339414994,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","boundingbox":["52.2343145","52.5543145","16.7060284","17.0260284"],"lat":"52.3943145","lon":"16.8660284","display_name":"Grun[...]
