---
http_interactions:
- request:
    method: get
    uri: https://geocode.maps.co/search?api_key=[GEOCODE_API_KEY]&q=123%20Madison%20St.,%20Oak%20Park,%20Illinois
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Thu, 07 Aug 2025 22:40:51 GMT
    body:
      encoding: UTF-8
      string: '[{"place_id":330575448,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright","osm_type":"way","osm_id":304320607,"boundingbox":["41.8792195","41.8798346","-87.7792638","-87.7785297"],"lat":"41.879491200000004","lon":"-87.77865544088937","display_name":"Oak
        Park Village Hall, 123, Madison Street, Oak Park, Cook County, Illinois, 60302,
        United States","class":"amenity","type":"townhall","importance":0.62001},{"place_id":330575657,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","osm_type":"node","osm_id":3549337313,"boundingbox":["41.8792627","41.8793627","-87.7789458","-87.7788458"],"lat":"41.8793127","lon":"-87.7788958","display_name":"Oak
        Park Police Department, 123, Madison Street, Oak Park, Cook County, Illinois,
        60302, United States","class":"amenity","type":"police","importance":0.62001}]'
  recorded_at: Thu, 07 Aug 2025 23:40:04 GMT
recorded_with: VCR 6.3.1
