---
http_interactions:
- request:
    method: get
    uri: https://geocode.maps.co/search?api_key=[GEOCODE_API_KEY]&q=60438
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Fri, 08 Aug 2025 05:24:25 GMT
    body:
      encoding: UTF-8
      string: '[{"place_id":123485374,"licence":"Data © OpenStreetMap contributors,
        ODbL 1.0. https://osm.org/copyright","osm_type":"relation","osm_id":1216525,"boundingbox":["50.1688127","50.1885534","8.605267","8.6475161"],"lat":"50.17867055","lon":"8.627181147339915","display_name":"Hesse,
        60438, Germany","class":"boundary","type":"postal_code","importance":0.3350099999999999},{"place_id":337046956,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright","boundingbox":["50.018365552034","50.338365552034","8.4714820810785","8.7914820810785"],"lat":"50.17836555203406","lon":"8.631482081078524","display_name":"Kalbach-Riedberg,
        Frankfurt, Hesse, 60438, Germany","class":"place","type":"postcode","importance":0.33499999999999996},{"place_id":339574140,"licence":"Data
        © OpenStreetMap contributors, ODbL 1.[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=[FORECAST_API_KEY]&q=50.17867055,%208.627181147339915
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999979'
      Cdn-Proxyver:
      - '1.33'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/08/2025 05:24:25'
      Cdn-Edgestorageid:
      - '1233'
      Cdn-Requestid:
      - d7921cdc66870b480756eb0b4ddc6351
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Oberursel","region":"Hessen","country":"Germany","lat":50.2,"lon":8.583,"tz_id":"Europe/Berlin","localtime_epoch":1754630752,"localtime":"2025-08-08
        07:25"},"current":{"last_updated_epoch":1754630100,"last_updated":"2025-08-08
        07:15","temp_c":13.4,"temp_f":56.1,"is_day":1,"condition":{"text":"Partly
        Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":3.4,"wind_kph":5.4,"wind_degree":188,"wind_dir":"S","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.0,"precip_in":0.0,"humidity":94,"cloud":0,"feelslike_c":13.5,"feelslike_f":56.3,"windchill_c":18.3,"windchill_f":64.9,"heatindex_c":18.3,"heatindex_f":64.9,"dewpoint_c":7.9,"dewpoint_f":46.2,"vis_km":10.0,"vis_miles":6.0,"uv":0.2,"gust_mph":5.5,"gust_kph":8.9,"short_rad":4.54,"diff_rad":2.13,"dni":0.0,"gti":1.91},"forecast":{"forecastday":[{"date":"2025-08-08","date_epoch":1754611200,"day":{"maxtemp_c":29.6,"maxtemp_f":85.3,"mintemp_c":15.7,"mintemp_f":60.2,"avgtemp_c":22.6,"avgtemp_f":72.6,"maxwind_mph":8.3,"maxwind_kph":13.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":41,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":1.9},"astro":{"sunrise":"06:04
        AM","sunset":"08:57 PM","moonrise":"08:58 PM","moonset":"04:23 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":98,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1754604000,"time":"2025-08-08
        00:00","temp_c":17.3,"temp_f":63.2,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":1.8,"wind_kph":2.9,"wind_degree":257,"wind_dir":"WSW","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":52,"cloud":31,"feelslike_c":17.3,"feelslike_f":63.2,"windchill_c":17.3,"windchill_f":63.2,"heatindex_c":17.3,"heatindex_f":63.2,"dewpoint_c":7.5,"dewpoint_f":45.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":3.8,"gust_kph":6.0,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1754607600,"time":"2025-08-08
        01:00","temp_c":17.1,"temp_f":62.7,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":2.0,"wind_kph":3.2,"wind_degree":220,"wind_dir":"SW","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":53,"cloud":[...]
